<p style="color: green"><%= notice %></p>

<h1><%= @hero.name %></h1>

<div>
  <%= link_to "Edit this hero", edit_hero_path(@hero) %> |
  <%= link_to "Back to heros", heros_path %>

  <%= react_component("Hero") %>

  <%= button_to "Destroy this hero", @hero, method: :delete %>
</div>

<th>Hard Counters:</th>

<% @hero.hard_counters.each do |hero| %>
      <%= render hero %>
<% end %>

<%= form_with model: @hero do |f| %>
  <% Hero.all.map do |hero| %>
    <%= f.check_box :advantage_hero %>
    <%= f.label :advantage_hero, "#{hero.name}" %>
  <% end %>
  
    <%= f.submit %>
<% end %>

