<p style="color: green"><%= notice %></p>

<h1><%= @hero.name %></h1>

<div>
  <%= link_to "Edit this hero", edit_hero_path(@hero) %> |
  <%= link_to "Back to heros", heros_path %> | 
  <%= link_to "Destroy this hero", @hero, method: :delete %>
</div>

<th>Heros that counter <%= @hero.name %>:</th>
<ul class="list-group">
  <% @hero.hard_counters.each do |hero| %>
    <li class="list-group-item"><%= render hero %></li>
  <% end %>
</ul>

<%= form_for @hero do |f| %>
  
  <%= f.collection_check_boxes :advantage_hero_ids, @heros, :id, :name do |checkbox| %>
    <%= checkbox.label class:"col-3" do %>
      <%= checkbox.check_box + ' ' + checkbox.text%>
    <%end%>
  <% end %>
  <br />
  <%= f.submit %>
<% end %>
