<% display_flex_center = "display: flex; justify-content: center;"%>
<% div_center_content_style = "display: flex; justify-content: space-around; align-items: center; text-align: center;" %>

<p style="color: green"><%= notice %></p>

<div style="<%= div_center_content_style %>">
  <%= link_to "View abilities", hero_abilities_path(@hero) %> |
  <%= link_to "Edit this hero", edit_hero_path(@hero) %> |
  <%= link_to "Back to heros", heros_path %> 
  <% #link_to "Destroy this hero", @hero, method: :delete %>
</div>

<div class="row" style="<%= div_center_content_style %>">
  <div class="col-2">
    <%= render @hero %>
  </div>

  <div class="col-2">
      <% @attributes_to_display.each do |att, ddd| %>
        <p><%=  "#{att.to_s.titleize}: #{ddd}" %></p>
      <% end %>
  </div>
</div>

<div style="text-align: center; flex-direction: column;">
  <h2>Abilities</h2>
  <ul class="list-group">
    <% @hero.abilities.each do |ability| %>
      <li class="list-group-item"><%= render ability %></li>
    <% end %>
  </ul>
</div>

<div>
  <strong>Heros that counter <%= @hero.name %>:</strong>
  <ul class="list-group">
    <% @hero.hard_counters.each do |hero| %>
      <li class="list-group-item"><%= render hero %></li>
    <% end %>
  </ul>
</div>

<%= render 'hero_form' %>